* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1052_10299 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1080_1656 {
  width: 228px;
  height: 172px;
  background: url("../images/v1080_1656.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 167px;
  left: 714px;
  overflow: hidden;
}
.v1075_18 {
  width: 183px;
  height: 279px;
  background: url("../images/v1075_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 598px;
  overflow: hidden;
}
.v1075_21 {
  width: 274px;
  height: 329px;
  background: url("../images/v1075_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 163px;
  left: 409px;
  overflow: hidden;
}
.v1075_15 {
  width: 256px;
  height: 351px;
  background: url("../images/v1075_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 311px;
  left: 303px;
  overflow: hidden;
}
.v1080_1657 {
  width: 170px;
  height: 221px;
  background: url("../images/v1080_1657.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 319px;
  left: 681px;
  overflow: hidden;
}
.v1080_1658 {
  width: 167px;
  height: 198px;
  background: url("../images/v1080_1658.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 388px;
  left: 514px;
  overflow: hidden;
}
.v1075_3 {
  width: 234px;
  height: 348px;
  background: url("../images/v1075_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 502px;
  left: 431px;
  overflow: hidden;
}
.v1075_6 {
  width: 221px;
  height: 347px;
  background: url("../images/v1075_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 475px;
  left: 579px;
  overflow: hidden;
}
.v1075_12 {
  width: 262px;
  height: 378px;
  background: url("../images/v1075_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 260px;
  left: 766px;
  overflow: hidden;
}
.v1075_9 {
  width: 216px;
  height: 430px;
  background: url("../images/v1075_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 462px;
  left: 781px;
  overflow: hidden;
}
.v1080_1659 {
  width: 222px;
  height: 174px;
  background: url("../images/v1080_1659.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 725px;
  left: 587px;
  overflow: hidden;
}
